{
    background-color: #808080;
    margin: 0;
    padding: 0;
}

.pic-1{
    height: 80px;
    width: 100px;
   color: ye;

   
}
/* ul>li{
    display: inline-block;
} */






