/* .container{
    background-color: darkslategray;
    height: 100px;
}
.container-fluid{
    background-color: orange;
    height: 100px;
}
.container-sm{
    background-color: grey;
    height: 100px;
}

.container-md{
    background-color: blue;
    height: 100px;
}

.container-lg{
    background-color: brown;
    height: 100px;
}
.container-xl{
    background-color: dodgerblue;
    height: 100px;
}

.col-2{
    background-color: whitesmoke;
    height: 100px;
}
.col-4{
    background-color: black
    
} */